html {
    font-size: 16px;
}

body {
    font-family: "Noto Sans Sharada", sans-serif;
}

.row {
    margin: 0;
}

a,
h1 {
    color: black;
}

ul {
    margin-top: 0;
    margin-bottom: 0;
}

h1 {
    font-family: "Source Sans 3", sans-serif;
    font-size: 2rem;
    padding: 16px 0;
    margin: 0;
    text-align: center;
}


h2 {
    font-family: "Source Sans 3", sans-serif;
    font-size: 1.5rem;
    color: grey;
    padding-bottom: 1.5rem;
    margin: 0;
}

header {
    border-bottom: 5px solid #87ceeb;
    padding: 8px 0;
}

@media (min-width: 992px) {
    h1 {
        text-align: left;
    }
}

ul li a {
    display: inline-block;
    padding: 16px 4px;
    font-size: 16px;
}

@media (min-width: 768px) {
    ul li a {
        padding: 16px;
    }

}

.container {
    max-width: 1240px;
}

.navBarlist {
    height: 100%;

    a:hover {
        background-color: blanchedalmond;
        border-radius: 8px;
    }
}


#introSection {
    margin-top: 24px;
    background-color: #87cefa33;
    border-radius: 24px;

    p {
        text-align: justify;
        padding-bottom: 1.5rem;
        margin: 0;
    }

    .btnContainer {
        margin-bottom: 24px;

        >div {
            padding: 0;

        }

        a {
            color: white;
            background-color: blue;
            padding: 12px;
            text-decoration: none;
            border-radius: 12px;
            display: inline-block;
        }
    }

    @media (min-width: 768px) {

        .primaryBtn,
        .secondaryBtn {
            max-width: 25%;
        }
    }

    @media (min-width: 1024px) {

        .primaryBtn,
        .secondaryBtn {
            max-width: 40%;
        }
    }



    @media (min-width: 1024px) {
        img {
            padding: 24px 0 24px 0;
        }
    }

    img {
        max-width: 100%;
        padding-bottom: 24px;
    }

}

#popularRideSection {
    margin-top: 24px;
    background-color: #87cefa33;
    border-radius: 24px;
    padding-top: 24px;

    img {
        height: 150px;
    }
}



@media (min-width: 1024px) {
    #popularRideSection {
        img {
            height: 300px;
        }
    }
}


.popularContainer {

    gap: 16px !important;
    padding-bottom: 16px;

    .col {
        padding: 0;
    }
}

p.card-text {
    text-align: justify;
}

.card {
    height: 100% !important;
}


#contactUs {
    margin-top: 24px;
    background-color: #87cefa33;
    border-radius: 24px;
    padding-bottom: 24px;

    .form-group.row {
        margin-bottom: 16px;
    }

    .col-sm-12 {
        text-align: center;
    }
}

#contactUs h2 {
    text-align: center;
    padding-top: 24px;
}

#packageSection {

    background-color: #87cefa33;
    margin-top: 24px;
    padding-top: 24px;
    border-radius: 24px;
    padding-bottom: 24px;

    .row {
        margin: 0;

        gap: 16px;
    }

    .col {
        padding-right: 0;
        padding-left: 0;
    }

    .date {
        color: red
    }

    span {
        font-weight: bolder;
    }
}